<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @booking.day %>
</p>

<p>
  <strong>Slot:</strong>
  <%= @booking.slot %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
